@use "general";
@use "get-dir-handle";
@use "interface";
@use "aside";
@use "main";
@use "popup";
@use "popups";

:root {
  --html-font-size: 1.3rem;
  --background-color: #f0f8ff;
}

html {
  font-size: var(--html-font-size);
  font-family: Nunito, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--background-color);
}

button {
  cursor: pointer;
}

ul,
ul li,
ol,
ol li {
  margin:0;
  padding: 0;
  text-indent: 0;
  list-style: none;
}

#react-root {
  height: 100%;
}