main {
  #download-list {
    ul {
      display: grid;
      grid-auto-rows: 80px;

      li {
        display: grid;
        position: relative;
        padding: 0.5em;
        grid-template-areas:
          "filename filename controll-buttons controll-buttons"
          "filename filename controll-buttons controll-buttons"
          "download-url download-url controll-buttons controll-buttons";

        .filename {
          grid-area: filename;
          font-size: 0.8rem;
        }

        .download-url {
          grid-area: download-url;
          color: rgba(128, 128, 128, 0.7);
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 0.6rem;
          font-style: italic;
        }


      //   .download-summary {
      //     font-size: 0.7rem;
      //     font-style: italic;

      //     .check-mark {
      //       padding-right: 0.3em;

      //       img {
      //         vertical-align: middle;
      //       }
      //     }
      //   }

        .controll-buttons {
          grid-area: controll-buttons;
          text-align: center;

          button {
            padding: 0.5em;
            font-size: 0.8rem;
            border: none;
            background-color: rgba(220, 20, 60, 0.7);
            color: white;
            border-radius: 0.5em;

            &:hover, &:focus {
              background-color: rgb(220, 20, 60)
            }

            img {
              vertical-align: middle;
              max-width: 24px;
              margin-right: 0.2em;
            }
          }
        }

        .download-progress {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -10;
          display: flex;
          flex-flow: row nowrap;

          &.finished .fragment.finished {
            background-color: powderblue;
          }

          .fragment {
            flex: 1 0;
            position: relative;
            background-color: #90ee90aa; // palegreen
            overflow: hidden;
            transition: background-color 0.2s ease-in-out;

            &.finished {
              background-color: #90ee90;
            }

            &::after {
              content: '';
              position: absolute;
              left: var(--fragment-download-progress);
              display: block;
              width: 100%;
              height: 100%;
              background-color: var(--background-color);
              transition: left 0.1s ease-in-out;
            }
          }
        }
      }
    }
  }
}