@mixin connect-to-url {
  .connect-to-url {
    display: grid;
    grid-template-rows: auto 1em;
    margin-top: 0.5em;
    row-gap: 0.3em;

    .main-inputs {
      display: grid;
      grid-template-columns: 2fr 0.5fr;
      column-gap: 0.5em;
      align-items: end;

      input {
        border-radius: 0.3em;
        border: none;
        border-bottom: 1px solid black;
        padding: 0.2em;
      }

      button {
        border: none;
        background-color: rgba(0, 128, 128, 0.7);
        border-radius: 0.3em;
        color: #f5f5f5;
        padding: 0.3em;

        &:hover, &:focus {
          background-color: rgb(0, 128, 128);
          transition: background-color 0.1s linear;
        }
      }

      :is(input, button):disabled {
        cursor: not-allowed;
        background-color: rgba(128, 128, 128, 0.5);
      }
    }

    .error-displayer {
      color: red;
      font-size: 0.6rem;
    }
  }
}

@mixin new-file-dialog {
  .new-file-dialog {
    display: grid;
    row-gap: 1em;

    .file-info {
      display: flex;
      flex-flow: row wrap;
      gap: 10px;

      .info {
        font-size: 0.7rem;
        padding: 0.4em;
        background-color: rgba(0, 128, 128, 0.7);
        color: white;
        border-radius: 5px;
      }
    }

    .file-name {
      display: grid;
      grid-template-columns: 1fr 50px 100px;

      .dot {
        display: grid;
        justify-content: center;
        align-items: end;
        font-size: 1.4rem;
      }

      .extension {
        input {
          width: 100%;
        }
      }
    }

    .download-options {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      column-gap: 1em;

      > div {
        flex-grow: 1;
      }
    }

    .controll-buttons {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;

      .button-container {
        display: grid;
        place-items: center;

        button {
          border: none;
          border-radius: 0.3em;
          padding: 0.5em;
          color: white;

          &:hover {
            transition: background-color 0.1s linear;
          }
        }

        &.start button {
          background-color: rgba(0, 128, 128, 0.7);

          &:hover, &:focus {
            background-color: rgb(0, 128, 128);
          }
        }

        &.cancel button {
          background-color: rgba(220, 20, 60, 0.7);

          &:hover, &:focus {
            background-color: rgb(220, 20, 60)
          }
        }
      }
    }
  }
}

@mixin youtube-file {
  .youtube-file {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .video-details {

      display: grid;
      grid-template-columns: auto 1fr;

      .thumbnail-wrapper {
        display: grid;
        place-items: center;
      }

      .text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 1em;

        .title-author {
          display: flex;
          flex-direction: column;

          .title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 350px;
            font-size: 0.8rem;
          }

          .author {
            font-size: 0.7rem;
            color: rgb(30, 30, 30);
          }
        }

        .meta-info {
          display: flex;
          align-items: center;
          flex-flow: row wrap;
          font-size: 0.75rem;
          gap: 0.8em;

          .length {
            background-color: #5e5e5ee5;
            color: white;
            padding: 0.1em;
            border-radius: 0.1em;
          }
        }
      }
    }

    .video-config {
      display: grid;
      grid-auto-flow: row;
      row-gap: 1em;

      .video-name {
        display: grid;
        grid-template-columns: 1fr 50px 100px;
        align-items: end;

        .dot {
          font-size: 1.4rem;
          text-align: center;
        }

        .extension {
          input {
            width: 100%;
            background-color: transparent;
            border: none;
          }
        }
      }
    }

    .controll-buttons {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;

      .button-container {
        display: grid;
        place-items: center;

        button {
          border: none;
          border-radius: 0.3em;
          padding: 0.5em;
          color: white;

          &:hover {
            transition: background-color 0.1s linear;
          }
        }

        &.start button {
          background-color: rgba(0, 128, 128, 0.7);

          &:hover, &:focus {
            background-color: rgb(0, 128, 128);
          }
        }

        &.cancel button {
          background-color: rgba(220, 20, 60, 0.7);

          &:hover, &:focus {
            background-color: rgb(220, 20, 60)
          }
        }
      }
    }
  }
}

#popup .popup-box .content {

  @include connect-to-url();
  @include new-file-dialog();
  @include youtube-file();

  margin: 0.7em 0;

  .label-input-pair {
    display: grid;
    grid-template-rows: 1em auto;
    row-gap: 0.05em;

    label {
      color: rgb(100, 100, 100);
      font-size: 0.7rem;
    }

    input, select {
      border: none;
      border-bottom: 1px solid black;
      border-radius: 0.3em;
      padding: 0.2em;
      width: 100%;
      background-color: white;

      &:disabled {
        background-color: rgba(128, 128, 128, 0.5);
        cursor: not-allowed;
      }
    }
  }

}
